commands:
  command1:
    command: ls
  command2:
    command: "cd /usr/local/bin"
  command3:
    command: "mkdir ffmpeg"
    cwd: /usr/local/bin
    ignoreErrors: true
  command4:
    command: "cd /usr/local/bin/ffmpeg"
  command5:
    command: "wget https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz"
    cwd: /usr/local/bin/ffmpeg
    ignoreErrors: true
  command6:
    command: "tar -xf ffmpeg-release-amd64-static.tar.xz"
    cwd: /usr/local/bin/ffmpeg
    ignoreErrors: true
  command7:
    command: "ln -sfn /usr/local/bin/ffmpeg/ffmpeg-*-amd64-static/ffmpeg /usr/bin/ffmpeg"
    cwd: /usr/local/bin/ffmpeg
    ignoreErrors: true
  command8:
    command: "ln -sfn /usr/local/bin/ffmpeg/ffmpeg-*-amd64-static/ffprobe /usr/bin/ffprobe"
    cwd: /usr/local/bin/ffmpeg
    ignoreErrors: true