.bg-back {
    background: #cadf75;
}

.bg-second {
    background: #182332;
}

.bg-foreground {
    background: inherit;
}

.bg-item {
    background: #231f20;
    color: white;
}

.nav-item {
    font-size: large
}

.synthesise-btn {
    width: 7em;
}