.nav-logo {
    width: 18em;
    height: 100%;
}

.container {
    max-width: 1200px;
}

.bg-back {
    background: #dceba1;
}

.bg-second {
    background: #182332;
}

.bg-foreground {
    background: inherit;
}

.bg-item {
    background: #182332;
    color: white;
}

.nav-item {
    font-size: large
}

.btn-primary {
    background: #F00;
    border-color: #F00;
    color: black;
}

.btn-primary:hover {
    background: #F00;
    border-color: #F00;
    opacity: 0.9;
}

.btn-primary:focus {
    background: #F00;
    border-color: #F00;
    box-shadow: none;
    opacity: 0.9;
}

.rating-col {
    width: 8em;
}

.metric-label {
    line-height: 2em;
}

.btn-success {
    background: #dceba1;
    border-color: #dceba1;
    color: black;
}

.btn-success:hover {
    background: #dceba1;
    border-color: #dceba1;
    color: black;
    opacity: 0.9;
}

.btn-success:focus {
    background: #dceba1;
    color: black;
    opacity: 0.9;
    box-shadow: none;
}

.btn-secondary:focus {
    box-shadow: none;
}

.synthesise-btn {
    width: 7em;
}

wave {
    border-right: 0 !important;
}

/* Star Rating Start */
.rate {
    height: 46px;
    padding: 0 10px;
    width: 11em;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc500;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ffc500;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ffc500;
}

/* Star Rating End */