{% extends "base.html" %}

{% block sub_section %}
    <label class="fw-bold me-3">Voices:</label>

    <button class="btn btn-outline-secondary">Daniel1</button>
    <button class="btn btn-secondary">Daniel2</button>
    <button class="btn btn-outline-secondary">Daniel3</button>
    <button class="btn btn-outline-secondary">Daniel4</button>
    <button class="btn btn-outline-secondary" aria-label="Add Voice" onclick="add_voice()">
        <i class="fas fa-plus"></i>
    </button>
{% endblock sub_section %}