.nav-logo {
    width: 18em;
    height: 100%;
}

.container {
    max-width: 1200px;
}

.bg-back {
    background: #dceba1;
}

.bg-second {
    background: #182332;
}

.btn-second {
    background: #003374;
    border-color: #003374;
    color: white;
}

.btn-second:hover {
    background: rgba(0, 51, 116, 0.8);
    border-color: rgba(0, 51, 116, 0.8);
    color: white;
}

.bg-foreground {
    background: inherit;
}

.bg-item {
    background: #182332;
    color: white;
}

.text-danger {
    color: #F00 !important;
}

.nav-item {
    font-size: large
}

.btn-primary {
    background: #F00;
    border-color: #F00;
}

.btn-primary:hover {
    background: #F00;
    border-color: #F00;
    opacity: 0.9;
}

.btn-primary:focus {
    background: #F00;
    border-color: #F00;
    box-shadow: none;
    opacity: 0.9;
}

.rating-col {
    width: 8em;
}

.metric-label {
    line-height: 2em;
}

.btn-success {
    background: #dceba1;
    border-color: #dceba1;
    color: black;
}

.btn-success:hover {
    background: #dceba1;
    border-color: #dceba1;
    color: black;
    opacity: 0.9;
}

.btn-success:focus {
    background: #dceba1;
    color: black;
    opacity: 0.9;
    box-shadow: none;
}

.btn-secondary:focus {
    box-shadow: none;
}

.fixed-btn {
    width: 7em;
}

.recording-div wave wave {
    border-right: 1.5px solid #d64933 !important;
}

/* Star Rating Start */
.rate {
    height: 46px;
    padding: 0 10px;
    width: 11em;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc500;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ffc500;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ffc500;
}

/* Star Rating End */

#phonemes-tab {
    overflow-y: scroll;
    flex-wrap: nowrap;
    height: 30em;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.nav-pills .nav-link {
    color: #b7b7b7;
}

.nav-pills .nav-link.active {
    background: #dceba1;
    color: black;
    font-weight: bold;
}

.nav-pills .nav-link i.fa-check-circle {
    color: #dceba1;
}

.nav-pills .nav-link i.fa-exclamation-circle {
    color: #ffc107;
}

.nav-pills .nav-link.active i {
    color: #212529;
}

.table-primary {
    --bs-table-bg: #6eaaed;
}

.table-white {
    --bs-table-bg: white;
}

hr {
    opacity: 1;
}

.stopwatch {
    font-family: 'Courier New', monospace;
    margin: 0 1em;
    font-size: x-large;
    font-weight: bold;
}

.form-card {
    max-width: 30em;
}

.hiw-info {
    border: white solid .25rem;
    border-radius: 15px;
    padding: 3em;
    height: 16em;
}

.hiw-info-marker {
    position: absolute;
    top: 1em;
    right: 1em;
}

.hiw-text {
    max-width: 10em;
    margin-bottom: 0;
}