{% extends "base.html" %}

{% block main_content %}
    <div class="card bg-item">
        <div class="card-header" id="description-header">
            <div class="row">
                <h3 class="col mb-0">Description</h3>
                <div class="col text-end">
                    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#description-body"
                       id="toggle-description" aria-label="toggle collapse">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="collapse fade" id="description-body">
            <div class="card-body">
                <h4>What is it?</h4>
                <p>Merging pre-recorded bits of audio to generate audio for words and sentences.</p>

                <hr class="mt-4">

                <h4>How does it work?</h4>
                <p>Speech concatenation works by recording every phoneme and then stitching the recordings back together
                    to create new sequences of those phonemes.</p>
                <div class="bg-warning text-dark rounded p-2 fa-sm">
                    <div class="row">
                        <div class="col-auto"><i class="fa fa-info fa-2x mt-2 ms-3 me-1"></i></div>
                        <p class="col mb-0">Please note, this setup has been prepared exclusively with British English
                            in mind. This is because a completely different dictionary would needed to map words to
                            phonemes for each dialect. Results may therefore vary for any dialect other than British
                            English.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-auto">
            <div class="card bg-item">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills pe-2" id="phonemes-tab" role="tablist">
                            {% for index in range(1, 31) %}
                                <a class="nav-link {% if index == 1 %}active{% endif %}" id="phoneme-tab-{{ index }}"
                                   data-bs-toggle="pill"
                                   href="#phoneme-{{ index }}" role="tab" aria-controls="phoneme-{{ index }}"
                                   {% if index == 1 %}aria-selected="true"{% endif %}>Phoneme {{ index }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col h-100">
            <div class="card bg-item h-100">
                <div class="card-body">
                    <div class="tab-content" id="phonemes-tab-content">
                        {% for index in range(1, 31) %}
                            <div class="tab-pane fade {% if index == 1 %}show active{% endif %}"
                                 id="phoneme-{{ index }}" role="tabpanel"
                                 aria-labelledby="phoneme-tab-{{ index }}">
                                {{ index }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block extra_js %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            let description_header = $("#description-header");
            let description_body = $("#description-body");
            let toggle_btn = $("#toggle-description");

            description_body.on("hide.bs.collapse", function () {
                description_header.removeClass("border-white");
                $(toggle_btn.children()[0]).removeClass("fa-minus").addClass("fa-plus");
            })

            description_body.on("show.bs.collapse", function () {
                description_header.addClass("border-white");
                $(toggle_btn.children()[0]).removeClass("fa-plus").addClass("fa-minus");
            });
        });
    </script>
{% endblock extra_js %}