<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Personal Speech Synthesis is a webapp enabling easy speech synthesis personalised to the users voice.">
    <meta name="author" content="Daniel Samet">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("apple-touch-icon") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("favicon-32x32") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("favicon-16x16") }}">
    <link rel="manifest" href="{{ url_for("site_webmanifest") }}">

    <title>PSS | Personal Speech Synthesis</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% block extra_css %}{% endblock extra_css %}

    <link href="{{ url_for("static", filename="css/main.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
</head>

<body class="bg-back d-flex flex-column min-vh-100">

<nav class="navbar navbar-expand-lg navbar-dark bg-second flex-grow-0 p-4">
    <div class="container px-4">
        <a class="navbar-brand fw-bold" href="{{ url_for("app.index") }}">
            <img src="{{ url_for("static", filename="media/logo.png") }}" alt="PSS" class="nav-logo" width="18em" height="100%">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == "main.synthesiser" %}active{% endif %}" aria-current="page"
                       href="{{ url_for("main.synthesiser") }}">Synthesiser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == "main.concatenation_setup" %}active{% endif %}"
                       href="{{ url_for("main.concatenation_setup") }}">Concatenation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == "main.ml_setup" %}active{% endif %}"
                       href="{{ url_for("main.ml_setup") }}">ML</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="bg-white flex-grow-0 p-4">
    <div class="container px-4">
        {% block sub_section %}{% endblock sub_section %}
    </div>
</section>

<main class="container-fluid bg-foreground flex-grow-1 d-flex p-0">
    <div class="p-4 flex-grow-1 d-flex flex-column">
        {% block main_content %}{% endblock main_content %}
    </div>
</main>

<footer class="bg-second text-white p-3">
    <div class="row mb-0">
        <span class="col"><a href="https://github.com/CouchMaster789" class="text-white">Daniel Samet</a></span>
        <span class="col text-center">
            Full Paper available <a class="text-white" href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Coming Soon">here</a>
        </span>
        <span class="col text-end">
            <a href="https://www.qmul.ac.uk/" class="text-white">Queen Mary University of London</a>
        </span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script>
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });

    function add_voice() {
        Swal.fire({
            icon: 'info',
            title: 'Train A Voice',
            html: `
                    <div class="mt-3">
                        <a class="btn btn-primary btn-lg" href="{{ url_for("main.concatenation_setup") }}">Concatenation</a>
                        <a class="btn btn-primary btn-lg" href="{{ url_for("main.ml_setup") }}">ML</a>
                    </div>
            `,
            showConfirmButton: false,
            footer: '<span class="text-center"><b>Concatenation</b> is a more antiquated approach, however, ' +
                '<b>ML</b> will require at least 15 minutes of your voice.</span>'
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% block extra_js %}{% endblock extra_js %}
</body>

</html>