{% extends "base.html" %}

{% block main_content %}
    <div class="card bg-item">
        <div class="card-header border-white" id="description-header">
            <div class="row">
                <h3 class="col mb-0">Description</h3>
                <div class="col text-end">
                    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#description-body"
                       id="toggle-description" aria-label="toggle collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="collapse fade show" id="description-body">
            <div class="card-body">
                <h4>What is it?</h4>
                <p>Merging pre-recorded bits of audio to generate audio for words and sentences.</p>

                <hr class="mt-4">

                <h4>How does it work?</h4>
                <p>Speech concatenation works by recording every phoneme and then stitching the recordings back together
                    to create new sequences of those phonemes.</p>
                <div class="bg-warning text-dark rounded p-2 fa-sm">
                    <div class="row">
                        <div class="col-auto"><i class="fa fa-info fa-2x mt-2 ms-3 me-1"></i></div>
                        <p class="col mb-0">Please note, this setup has been prepared exclusively with British English
                            in mind. This is because a completely different dictionary would be needed to map words to
                            phonemes for each dialect. Results may therefore vary for any dialect other than British
                            English.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-auto">
            <div class="card bg-item">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills pe-2" id="phonemes-tab" role="tablist">

                            {% for phoneme in phonemes %}
                                <a class="nav-link {% if phoneme.number == 1 %}active{% endif %}"
                                   id="phoneme-tab-{{ phoneme.number }}" data-bs-toggle="pill"
                                   href="#phoneme-{{ phoneme.number }}" role="tab"
                                   aria-controls="phoneme-{{ phoneme.number }}"
                                   {%- if phoneme.number == 1 %}aria-selected="true"{% endif %}>

                                    <span class="me-2">
                                        <i class="fa {% if phoneme.recording %}fa-check-circle{% else %}fa-exclamation-circle{% endif %} me-2"></i>
                                        Phoneme {{ phoneme.number }}:
                                    </span>
                                    <span class="float-end">{{ phoneme.symbol }}</span>
                                </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# TODO: position elsewhere and make available to end-user #}
        <div class="visually-hidden">
            <label for="audioSource">Audio input source: </label>
            <select class="form-select mb-2" id="audioSource"></select>
        </div>

        <div class="col h-100">
            <div class="tab-content" id="phonemes-tab-content">
                {% for phoneme in phonemes %}
                    <div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}"
                         id="phoneme-{{ loop.index }}"
                         role="tabpanel"
                         data-phoneme-name="{{ phoneme.symbol }}"
                         data-phoneme-num="{{ loop.index }}"
                         data-phoneme-id="{{ phoneme.id }}"
                         aria-labelledby="phoneme-tab-{{ loop.index }}">
                        <div class="card bg-item h-100">
                            <div class="card-header border-white">
                                <h4 class="fw-bold">Phoneme {{ loop.index }}: {{ phoneme.symbol }}</h4>
                            </div>
                            <div class="card-body">
                                <h6 class="mb-3">Examples for this phoneme:</h6>

                                <table class="table table-bordered text-white text-center mx-auto"
                                       style="max-width: 30em;">
                                    <tbody>
                                    {% for example in phoneme.examples %}
                                        <tr>
                                            <td class="font-monospace bg-white text-dark">
                                                {% for char in example.word -%}
                                                    <span {% if char.isupper() %}class="text-danger fw-bold"{% endif %}>
                                                        {{- char.lower().replace("(1)", "") -}}
                                                    </span>
                                                {%- endfor %}
                                            </td>
                                            <td>
                                                {% for phoneme_ in example.phoneme_breakdown.split(",") -%}
                                                    {%- if phoneme_ == phoneme.symbol -%}
                                                        <span class="text-danger fw-bold">{{- phoneme_ -}}</span>
                                                    {%- else -%}
                                                        {{- phoneme_ -}}
                                                    {%- endif -%}
                                                    &nbsp;
                                                {%- endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <h6 class="mt-5 invisible recording-header">Recording:</h6>

                                <div class="recording-div" id="recording-div-{{ phoneme.id }}"
                                     style="height: 128px; width: 99%;"></div>

                                <div class="row justify-content-between mt-3" style="height: 60px;">
                                    <div class="col">
                                        <button class="btn btn-primary fixed-btn record-audio"
                                                id="btn-{{ phoneme.id }}">
                                            Record
                                        </button>

                                        <div class="d-inline-block">
                                            <span class="hold-msg text-muted ms-2">Hold to record</span>
                                            <div class="stopwatch"></div>
                                        </div>

                                    </div>
                                    <div class="col-auto text-end recording-results">
                                        {% if phoneme.recording %}
                                            <audio class="me-3 recordedAudio d-none" controls>
                                                <source src="{{ phoneme.recording.web_address|safe }}"
                                                        type="{{ config.get("AUDIO_MIME_TYPE") }}">
                                                Your browser does not support the audio element.
                                            </audio>
                                        {% else %}
                                            <audio class="me-3 recordedAudio d-none"></audio>
                                        {% endif %}
                                        <div class="btns-container invisible">
                                            <button class="btn btn-success fixed-btn fw-bold play-btn">
                                                Play
                                            </button>
                                            <button class="btn btn-secondary fw-bold pause-btn">
                                                Pause
                                            </button>
                                            <button class="btn btn-second ms-2 save-recording visually-hidden"
                                                    id="save-{{ phoneme.id }}">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <p class="fst-italic text-muted float-end mb-0 invisible">
                                    <b>Hint</b>: press the spacebar to play and pause recordings.
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{{ url_for("static", filename="js/wavesurfer.js") }}"></script>
    <script src="{{ url_for("static", filename="js/wavesurfer.regions.js") }}"></script>
    <script src="{{ url_for("static", filename="js/timer.js") }}"></script>
    <script src="{{ url_for("static", filename="js/ws.js") }}"></script>
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });

        wavesurfers = {};

        window.addEventListener('DOMContentLoaded', async function () {
            // Description Collapse
            let description_header = $("#description-header");
            let description_body = $("#description-body");
            let toggle_btn = $("#toggle-description");

            description_body.on("hide.bs.collapse", function () {
                description_header.removeClass("border-white");
                $(toggle_btn.children()[0]).removeClass("fa-minus").addClass("fa-plus");
            });

            description_body.on("show.bs.collapse", function () {
                description_header.addClass("border-white");
                $(toggle_btn.children()[0]).removeClass("fa-plus").addClass("fa-minus");
            });

            // Phoneme Navigation

            let record_btn = $(".record-audio");
            let save_record = $(".save-recording");
            let timer;

            record_btn.on('mousedown', function () {
                let active_tab = $(".tab-pane.active");

                active_tab.find(".hold-msg").addClass("d-none");

                let stopwatch = active_tab.find(".stopwatch");
                if (!stopwatch.hasClass("started"))
                    timer = new Stopwatch(stopwatch[0], {delay: 10});

                timer.reset();
                timer.start();
                start_recording();
                stopwatch.addClass("started");
                active_tab.find(".recording-results").addClass("visually-hidden");
                active_tab.find(".save-recording").addClass("visually-hidden");

                record_btn.one('mouseup', async function () {
                    timer.stop();
                    stop_recording();
                    active_tab.find(".recording-results").removeClass("visually-hidden");
                    active_tab.find(".save-recording").removeClass("visually-hidden");
                    await new Promise(r => setTimeout(r, 100));
                    wavesurfers[this.id.replace("btn-", "")] = await load_audio("recording-div-" + this.id.replace("btn-", ""), active_tab.find(".recordedAudio")[0].src, true, active_tab.find(".btns-container"), [active_tab.find(".btns-container")]);
                });
            });

            save_record.on("click", function () {
                let tab = $(".tab-pane.active");

                let regions = wavesurfers[this.id.replace("save-", "")].regions.list;
                let region = regions[Object.keys(regions)[0]];
                uploadAudioFromBlob(tab.attr("data-phoneme-id"), window.audio_blob, "{{ url_for("main.save_recording") }}", region.start, region.end);

                // update tab to recorded
                $("#phoneme-tab-" + tab.attr("data-phoneme-num")).find("i").removeClass("fa-exclamation-circle").addClass("fa-check-circle");

                Toast.fire({
                    icon: 'success',
                    title: 'Successfully saved recording!'
                })
            });

            let active_tab = $(".tab-pane.active");

            {%- for phoneme in phonemes -%}
                {%- if phoneme.recording %}
                    {% if loop.index == 1 -%}  {# load audio for first tab as well! #}
                        wavesurfers[{{ phoneme.id }}] = await load_audio("recording-div-" + {{ phoneme.id }}, "{{ phoneme.recording.web_address|safe }}", false, active_tab.find(".btns-container"), [active_tab.find(".btns-container")]);
                    {% endif %}
                    $("#phoneme-tab-{{ phoneme.number }}").on("shown.bs.tab", async function () {
                        let active_tab = $(".tab-pane.active");
                        wavesurfers[{{ phoneme.id }}] = await load_audio("recording-div-" + {{ phoneme.id }}, "{{ phoneme.recording.web_address|safe }}", false, active_tab.find(".btns-container"), [active_tab.find(".btns-container")]);
                    })
                {%- endif -%}
            {%- endfor %}
        });
    </script>

    {# TODO: put the script below into their own files #}
    <script>
        function uploadAudioFromBlob(phoneme_id, blob, upload_address, start, end) {
            let reader = new FileReader();

            reader.onload = function (event) {
                let formData = new FormData();
                formData.append('phoneme_id', phoneme_id);
                formData.append('audio', event.target.result);
                formData.append('start', start);
                formData.append('end', end);
                $.ajax({
                    type: 'POST',
                    url: upload_address,
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    cache: false,

                    success: function (json) {
                    }, error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error! ' + textStatus + ' - ' + errorThrown + '\n\n' + jqXHR.responseText);
                    }
                });
            }
            reader.readAsDataURL(blob);
        }

        // Adapted from code by Maksim, https://jsfiddle.net/bomzj/beap6n2g/
        const audioInputSelect = document.querySelector('select#audioSource');
        const selectors = [audioInputSelect];

        let rec;
        let audioChunks;

        function gotDevices(deviceInfos) {
            // Handles being called several times to update labels. Preserve values.
            const values = selectors.map(select => select.value);
            selectors.forEach(select => {
                while (select.firstChild) {
                    select.removeChild(select.firstChild);
                }
            });
            for (let i = 0; i !== deviceInfos.length; ++i) {
                const deviceInfo = deviceInfos[i];
                const option = document.createElement('option');
                option.value = deviceInfo.deviceId;
                if (deviceInfo.kind === 'audioinput') {
                    option.text = deviceInfo.label || `microphone ${audioInputSelect.length + 1}`;
                    audioInputSelect.appendChild(option);
                }
            }
            selectors.forEach((select, selectorIndex) => {
                if (Array.prototype.slice.call(select.childNodes).some(n => n.value === values[selectorIndex])) {
                    select.value = values[selectorIndex];
                }
            });
        }

        function gotStream(stream) {
            window.stream = stream; // make stream available to console
            let audioDownload = Object;

            rec = new MediaRecorder(stream, {
                audioBitsPerSecond: 128000,
                mimeType: "{{ config.get("AUDIO_MIME_TYPE") }}"
            });
            rec.ondataavailable = e => {
                audioChunks.push(e.data);
                if (rec.state === "inactive") {
                    let blob = new Blob(audioChunks, {type: '{{ config.get("AUDIO_MIME_TYPE") }}'});
                    let recordedAudio = $(".tab-pane.active").find(".recordedAudio")[0];

                    recordedAudio.src = URL.createObjectURL(blob);
                    recordedAudio.controls = true;
                    recordedAudio.autoplay = false;
                    audioDownload.href = recordedAudio.src;
                    audioDownload.download = '{{ config.get("AUDIO_FILE_EXT") }}';
                    audioDownload.innerHTML = 'download';

                    window.audio_blob = blob;
                }
            }
        }

        function handleError(error) {
            console.log('navigator.MediaDevices.getUserMedia error: ', error.message, error.name);
        }

        function start() {
            // Second call to getUserMedia() with changed device may cause error, so we need to release stream before changing device
            if (window.stream) {
                stream.getAudioTracks()[0].stop();
            }

            const audioSource = audioInputSelect.value;

            const constraints = {
                audio: {deviceId: audioSource ? {exact: audioSource} : undefined}
            };

            navigator.mediaDevices.getUserMedia(constraints).then(gotStream).catch(handleError);
        }

        audioInputSelect.onchange = start;

        function start_recording() {
            audioChunks = [];
            rec.start();
        }

        function stop_recording() {
            if (rec.state !== "inactive")
                rec.stop();
        }

        navigator.mediaDevices.enumerateDevices()
            .then(gotDevices)
            .then(start)
            .catch(handleError);
    </script>
{% endblock extra_js %}